<!-- patient-summary.component.html -->
<!-- First row: Dropdowns + Theme Toggle -->
<div class="top-row">
  <select [(ngModel)]="selectedPatient" class="select-fixed">
    <option *ngFor="let patient of patients" [value]="patient">{{ patient }}</option>
  </select>

  <select [(ngModel)]="selectedEye" (ngModelChange)="updateData()" class="select-fixed small">
    <option *ngFor="let eye of eyes" [value]="eye">{{ eye }}</option>
  </select>

  <div class="theme-wrap">
    <app-theme-toggle></app-theme-toggle>
  </div>
</div>

<!-- Second row: 3-column grid (patient summary, disease, procedures) -->
<div class="second-row">
  <!-- Column 1: Patient Summary -->
  <div class="box">
    <div class="box-head">Patient Summary</div>
    <div class="box-body scroll">
      <p>{{ patientSummary }}</p>
    </div>
  </div>

  <!-- Column 2: Disease History -->
  <div class="box">
    <div class="box-head">Disease</div>
    <div class="box-body">
      <table class="mini-table">
        <thead>
          <tr>
            <th>Disease</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of diseases">
            <td>{{ d.name }}</td>
            <td>{{ d.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Column 3: Procedures -->
<!-- Column 3: Procedures -->
<div class="box">
  <div class="box-head">Procedures</div>
  <div class="box-body">
    <table class="mini-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of procedures">
          <td>
            <div class="procedure-type-cell">
              <svg
                *ngIf="getSvgForProcedure(p.item).svg === 'injection'"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                [attr.stroke]="getSvgForProcedure(p.item).color"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
              >
                <path d="m18 2 4 4"></path>
                <path d="m17 7 3-3"></path>
                <path d="M19 9 8.7 19.3c-1 1-2.5 1-3.4 0l-.6-.6c-1-1-1-2.5 0-3.4L15 5"></path>
                <path d="m9 11 4 4"></path>
                <path d="m5 19-3 3"></path>
                <path d="m14 4 6 6"></path>
              </svg>
              <svg
                *ngIf="getSvgForProcedure(p.item).svg === 'procedure'"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                [attr.stroke]="getSvgForProcedure(p.item).color"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M12 2a10 10 0 1 0 10 10 4 4 0 0 1-5-5 4 4 0 0 1-5-5"></path>
                <path d="M8.5 8.5v.01"></path>
                <path d="M16 15.5v.01"></path>
                <path d="M12 12v.01"></path>
                <path d="M11 17v.01"></path>
                <path d="M7 14v.01"></path>
              </svg>
              <span class="type-label">{{ p.type }}</span>
            </div>
          </td>
          <td>{{ p.item }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<!-- Line Chart with Data Binding -->
<app-line-chart
  [chartData]="lineChartData"
  [metrics]="lineChartMetrics"
  [showVA]="showVA"
  [showIOP]="showIOP"
  [showCMT]="showCMT"
  [showProcedures]="showProcedures">
</app-line-chart>

<!-- Gantt Chart -->
<app-gantt-chart
  *ngIf="showDiagnosis"
  [data]="ganttData"
  [config]="ganttConfig">
</app-gantt-chart>
<app-gantt-chart
  *ngIf="showMedication"
  [data]="medicationsData"
  [config]="medicationsConfig">
</app-gantt-chart>
<!-- <app-gantt-chart
  *ngIf="showObservations && showLens"
  [data]="lensData"
  [config]="lensConfig"> -->
<!-- </app-gantt-chart> -->
<app-gantt-chart
  *ngIf="showObservations && showBackgroundRetina"
  [data]="backgroundRetinaData"
  [config]="backgroundRetinaConfig">
</app-gantt-chart>
<app-gantt-chart
  *ngIf="showObservations && showMaculaFovealReflex"
  [data]="maculaFovealReflexData"
  [config]="maculaFovealReflexConfig">
</app-gantt-chart>
<app-gantt-chart
  *ngIf="showObservations && showConjunctiva"
  [data]="conjunctivaData"
  [config]="conjunctivaConfig">
</app-gantt-chart>
<app-gantt-chart
  *ngIf="showObservations && showMedia"
  [data]="mediaData"
  [config]="mediaConfig">
</app-gantt-chart>
<app-gantt-chart
  *ngIf="showObservations && showAnteriorChamber"
  [data]="anteriorChamberData"
  [config]="anteriorChamberConfig">
</app-gantt-chart>
<app-gantt-chart
  *ngIf="showObservations && showIris"
  [data]="irisData"
  [config]="irisConfig">
</app-gantt-chart>
<app-gantt-chart
  *ngIf="showObservations && showDisc"
  [data]="discData"
  [config]="discConfig">
</app-gantt-chart>
<app-gantt-chart
  *ngIf="showObservations && showPupil"
  [data]="pupilData"
  [config]="pupilConfig">
</app-gantt-chart>
<app-gantt-chart
  *ngIf="showObservations && showVessels"
  [data]="vesselsData"
  [config]="vesselsConfig">
</app-gantt-chart>
<app-gantt-chart
  *ngIf="showObservations && showUndilatedFundus"
  [data]="undilatedFundusData"
  [config]="undilatedFundusConfig">
</app-gantt-chart>

<!-- Newly added sidebar -->
<app-sidebar
  [(showVA)]="showVA"
  [(showIOP)]="showIOP"
  [(showCMT)]="showCMT"
  [(showProcedures)]="showProcedures"
  [(showDiagnosis)]="showDiagnosis"
  [(showMedication)]="showMedication"
  [(showObservations)]="showObservations"
  [(showLens)]="showLens"
  [(showBackgroundRetina)]="showBackgroundRetina"
  [(showMaculaFovealReflex)]="showMaculaFovealReflex"
  [(showConjunctiva)]="showConjunctiva"
  [(showMedia)]="showMedia"
  [(showAnteriorChamber)]="showAnteriorChamber"
  [(showIris)]="showIris"
  [(showDisc)]="showDisc"
  [(showPupil)]="showPupil"
  [(showVessels)]="showVessels"
  [(showUndilatedFundus)]="showUndilatedFundus">
</app-sidebar>