<!-- patient-summary.component.html -->
<div class="top-row">
  <div class="uid-display select-fixed">
    {{ selectedPatient || 'N/A' }}
  </div>

  <select [(ngModel)]="selectedEye" (ngModelChange)="updateData()" class="select-fixed small">
    <option *ngFor="let eye of eyes" [value]="eye">{{ eye }}</option>
  </select>

  <div class="theme-wrap">
    <app-theme-toggle></app-theme-toggle>
  </div>
</div>

<div class="second-row">
  <div class="box">
    <div class="box-head">Patient Summary</div>
    <div class="box-body scroll">
      <p>{{ patientSummary }}</p>
    </div>
  </div>

  <div class="box">
    <div class="box-head">Disease</div>
    <div class="box-body">
      <table class="mini-table">
        <thead>
          <tr>
            <th>Disease</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of diseases">
            <td>{{ d.name }}</td>
            <td>{{ d.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="box">
    <div class="box-head">Procedures</div>
    <div class="box-body">
      <table class="mini-table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Item</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of procedures">
            <td>
              <div class="procedure-type-cell">
                <svg *ngIf="getSvgForProcedure(p.item).svg === 'injection'" width="16" height="16" viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg" [attr.stroke]="getSvgForProcedure(p.item).color" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" fill="none">
                  <path d="m18 2 4 4"></path>
                  <path d="m17 7 3-3"></path>
                  <path d="M19 9 8.7 19.3c-1 1-2.5 1-3.4 0l-.6-.6c-1-1-1-2.5 0-3.4L15 5"></path>
                  <path d="m9 11 4 4"></path>
                  <path d="m5 19-3 3"></path>
                  <path d="m14 4 6 6"></path>
                </svg>
                <svg *ngIf="getSvgForProcedure(p.item).svg === 'procedure'" xmlns="http://www.w3.org/2000/svg"
                  width="16" height="16" viewBox="0 0 24 24" fill="none"
                  [attr.stroke]="getSvgForProcedure(p.item).color" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M12 2a10 10 0 1 0 10 10 4 4 0 0 1-5-5 4 4 0 0 1-5-5"></path>
                  <path d="M8.5 8.5v.01"></path>
                  <path d="M16 15.5v.01"></path>
                  <path d="M12 12v.01"></path>
                  <path d="M11 17v.01"></path>
                  <path d="M7 14v.01"></path>
                </svg>
                <span class="type-label">{{ p.type }}</span>
              </div>
            </td>
            <td>{{ p.item }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="charts-area" style="margin-left: 70px;">

  <app-line-chart [chartData]="lineChartData" [metrics]="lineChartMetrics" [showVA]="showVA" [showIOP]="showIOP"
    [showCMT]="showCMT" [showProcedures]="showProcedures"></app-line-chart>

  <app-gantt-chart *ngIf="showDiagnosis && ganttData && ganttData.length > 0" [data]="ganttData"
    [config]="ganttConfig"></app-gantt-chart>
  <app-gantt-chart *ngIf="showMedication && medicationsData && medicationsData.length > 0" [data]="medicationsData"
    [config]="medicationsConfig"></app-gantt-chart>
  <app-gantt-chart *ngIf="showObservations && showLens && lensData && lensData.length > 0" [data]="lensData"
    [config]="lensConfig"></app-gantt-chart>
  <app-gantt-chart
    *ngIf="showObservations && showBackgroundRetina && backgroundRetinaData && backgroundRetinaData.length > 0"
    [data]="backgroundRetinaData" [config]="backgroundRetinaConfig"></app-gantt-chart>
  <app-gantt-chart
    *ngIf="showObservations && showMaculaFovealReflex && maculaFovealReflexData && maculaFovealReflexData.length > 0"
    [data]="maculaFovealReflexData" [config]="maculaFovealReflexConfig"></app-gantt-chart>
  <app-gantt-chart *ngIf="showObservations && showConjunctiva && conjunctivaData && conjunctivaData.length > 0"
    [data]="conjunctivaData" [config]="conjunctivaConfig"></app-gantt-chart>
  <app-gantt-chart *ngIf="showObservations && showMedia && mediaData && mediaData.length > 0" [data]="mediaData"
    [config]="mediaConfig"></app-gantt-chart>
  <app-gantt-chart
    *ngIf="showObservations && showAnteriorChamber && anteriorChamberData && anteriorChamberData.length > 0"
    [data]="anteriorChamberData" [config]="anteriorChamberConfig"></app-gantt-chart>
  <app-gantt-chart *ngIf="showObservations && showIris && irisData && irisData.length > 0" [data]="irisData"
    [config]="irisConfig"></app-gantt-chart>
  <app-gantt-chart *ngIf="showObservations && showDisc && discData && discData.length > 0" [data]="discData"
    [config]="discConfig"></app-gantt-chart>
  <app-gantt-chart *ngIf="showObservations && showPupil && pupilData && pupilData.length > 0" [data]="pupilData"
    [config]="pupilConfig"></app-gantt-chart>
  <app-gantt-chart *ngIf="showObservations && showVessels && vesselsData && vesselsData.length > 0" [data]="vesselsData"
    [config]="vesselsConfig"></app-gantt-chart>
  <app-gantt-chart
    *ngIf="showObservations && showUndilatedFundus && undilatedFundusData && undilatedFundusData.length > 0"
    [data]="undilatedFundusData" [config]="undilatedFundusConfig"></app-gantt-chart>

</div>


<app-sidebar [(showVA)]="showVA" [(showIOP)]="showIOP" [(showCMT)]="showCMT" [(showProcedures)]="showProcedures"
  [(showDiagnosis)]="showDiagnosis" [(showMedication)]="showMedication" [(showObservations)]="showObservations"
  [(showLens)]="showLens" [(showBackgroundRetina)]="showBackgroundRetina"
  [(showMaculaFovealReflex)]="showMaculaFovealReflex" [(showConjunctiva)]="showConjunctiva" [(showMedia)]="showMedia"
  [(showAnteriorChamber)]="showAnteriorChamber" [(showIris)]="showIris" [(showDisc)]="showDisc"
  [(showPupil)]="showPupil" [(showVessels)]="showVessels" [(showUndilatedFundus)]="showUndilatedFundus"></app-sidebar>